.s-ads-icon {
  display: inline-block;
  width: 55px;
  height: 48px;
  margin: 5px 0 10px 0;
}

.s-ads-icon-text {
  display: inline-block;
  font-size: 25px;
  line-height: 21px;
}

.s-ads-icon-text>span {
  font-weight: bold;
  text-transform: uppercase;
}

#app-nav-bar {
  background-color: #080808;
}

.s-starry-background-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(../images/background.jpg);
  min-height: 8rem;
  margin-bottom: 15px;
  background-attachment: fixed;
}
