{% set view = "results" %}
{% extends 'base-form.html' %}
{% block title %}Too many requests{% endblock title %}
{% block content %}

<div id="results-page-layout" class="s-results-page-layout">
  <div class="row">
      <div class="max-width-wrapper" style="margin-top: 10%; margin-bottom:10%">
        <div class="col-xs-10 col-xs-offset-1" style="padding: 10%">
          <p style="text-align: center">
          We have received too many requests from your IP, please email us at <a href="mailto:adshelp@cfa.harvard.edu">adshelp@cfa.harvard.edu</a>.<br/>
          <strong>Tip:</strong> Maybe try <a href="{{ url_for('core_never', url=request_path) }}">the same page</a> in Full ADS?</p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
