{% set view = "results" %}
{% extends 'base-form.html' %}
{% block title %}Internal server error{% endblock title %}
{% block content %}

<div id="results-page-layout" class="s-results-page-layout">
  <div class="row s-stable-search-bar-height s-results-control-row-container">
    <div class="s-search-bar-full-width-container">
      <div class="col-xs-7 col-xs-offset-2" style="padding-top: 1%;">
        {% include 'partials/search-bar.html' %}
      </div>
    </div>
  </div>
  <div class="row">
      <div class="max-width-wrapper" style="margin-top: 10%; margin-bottom:10%">
        <div class="col-xs-10 col-xs-offset-1" style="padding: 10%">
          <p style="text-align: center">
          The server encountered an internal error and was unable to complete your request, please email us at <a href="mailto:adshelp@cfa.harvard.edu">adshelp@cfa.harvard.edu</a>.<br/>
          <strong>Tip:</strong> Maybe try <a href="{{ url_for('core_never', url=request_path) }}">the same page</a> in Full ADS?</p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}
