
{% extends 'abstract-base.html' %}

{% block page %}
<div class="row s-dynamic-page-body" id="dynamic-page-body">
    <div class="s-abstract-content">

      {% include 'partials/abstract-navigation.html' %}

      {% if doc.graphics and doc.graphics.figures|length > 0 %}
        <div class="col-sm-9 col-md-7 s-middle-column" id="middle-column">
            <!--id is for screen readers-->
            <div class="main-content-container s-main-content-container" id="main-content" tabindex="-1">
                <div class="print-visible"><h2 style="margin-left:6.1%;">NASA/ADS</h2> </div>
                <div id="abstract-title-container" class="s-abstract-title-container"></div>
                <div id="current-subview">
                    <div data-widget="ShowGraphics">
                        <div class="s-graphics-grid">
                            <div class="s-grid-title">
                                <h4 class="s-list-description">Graphics from</h4>
                                <h2 class="s-article-title">
                                  {% for title in doc.title %}
                                  {{ title|safe }}{% if not loop.last %};{% endif %}
                                  {% endfor %}
                                </h2>
                            </div>

                            <div class="s-grid-container">
                                <p><i>{{ doc.graphics.header|safe }}</i></p>

                                {% for figure in doc.graphics.figures %}
                                    {% if figure.images and figure.images|length > 0 %}
                                    <a href="{{ figure.images[0].highres }}" rel="noopener">
                                        <div class="grid-cell">
                                            <figure>
                                                <img src="{{ figure.images[0].thumbnail }}" alt="Figure 1" class="grid-cell__image">
                                            </figure>
                                            <figcaption>
                                                {{ figure.figure_label|safe }}
                                            </figcaption>
                                        </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    {% include 'partials/abstract-resources.html' %}

    <div class="col-lg-1"></div>
  </div>
</div>
{% endblock page %}
