{% extends 'abstract-base.html' %}

{% block page %}
<div class="row s-dynamic-page-body" id="dynamic-page-body">
  <div class="s-abstract-content">

      {% include 'partials/abstract-navigation.html' %}

      <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 s-middle-column" id="middle-column" style="padding-bottom: 0%">
        <!--id is for screen readers-->
        <div class="main-content-container s-main-content-container" id="main-content" tabindex="-1" style="margin-bottom: 5px">
          <div class="print-visible">
            <h2 style="margin-left:6.1%;">NASA/ADS</h2>
          </div>

          <div id="abstract-title-container" class="s-abstract-title-container">
            <div data-widget="ShowAbstract">
              <article class="s-abstract-metadata">
                <!--<div id="article-navigation">|</div>-->
                {% if doc %}


                <h2 class="s-abstract-title">
                  {% for title in doc.title %}
                  {{ title|safe }}{% if not loop.last %};{% endif %}
                  {% endfor %}
                  <a href=""></a>
                </h2>


                <div id="authors-and-aff" class="s-authors-and-aff">
                  <ul class="list-inline">
                    {% if doc.author %}
                    {% for author in doc.author[:50] %}
                    <li class="author"><a href="{{ url_for('search', q='author:\"' + author + '\"') }}">{{ author }}</a>
                    </li>{% if not loop.last %};{% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if doc.author|length > 50 %}
                    <li>
                      <em>and {{ doc.author|length - 50 }} more</em>
                    </li>
                    {% endif %}
                  </ul>
                </div>

                <div class="s-abstract-text">
                  <h4 class="sr-only">Abstract</h4>
                  <p>
                    {{ doc.abstract|safe }}
                  </p>
                </div>

                <br>
                <dl class="s-abstract-dl-horizontal">

                  <dt>Publication:</dt>
                  <dd>
                    <div id="article-publication">{{ doc.pub }}</div>
                  </dd>

                  <dt>Pub Date:</dt>
                  <dd>{{ doc.formatted_pubdate }}</dd>

                  {% if doc.doi and doc.doi|length > 0 %}
                  <dt>DOI:</dt>
                  <dd>
                    <span>
                        <a href="/link_gateway/{{ doc.bibcode }}/{{ doc.doi[0] }}" target="_blank" rel="noopener">{{ doc.doi[0] }}</a>
                        <i class="fa fa-external-link"></i>
                    </span>
                  </dd>
                  {% endif %}

                  {% if doc.arXiv %}
                  <dt>arXiv:</dt>
                  <dd>
                    <span>
                        <a href="/link_gateway/{{ doc.bibcode }}/{{ doc.arXiv }}" target="_blank" rel="noopener">{{ doc.arXiv }}</a>
                        <i class="fa fa-external-link"></i>
                    </span>
                  </dd>
                  {% endif %}

                  <dt>Bibcode:</dt>
                  <dd>
                    <a href="{{ url_for('abs', identifier=doc.bibcode, section='abstract') }}">
                    {{ doc.bibcode }}
                    </a>
                    <i class="icon-help" title="The bibcode is assigned by the ADS as a unique identifier for the paper."></i>
                  </dd>

                  {% if doc.keyword and doc.keyword|length > 0 %}
                        <dt>Keywords:</dt>
                        <dd>
                            <ul class="list-inline">
                            {% for keyword in doc.keyword %}
                            <li>{{ keyword }}{% if not loop.last %};{% endif %}</li>
                            {% endfor %}
                            </ul>
                        </dd>
                  {% endif %}

                  {% if doc.pubnote and doc.pubnote|length > 0 %}
                  <dt>E-Print:</dt>
                  <dd>
                    {% set pubnote = doc.pubnote[0].split(';')%}
                    {{ pubnote[0] }}
                  </dd>
                  {% endif %}


                </dl>
                {% else %}
                <div class="row text-center">
                  <span class="fa-stack fa-lg text-danger">
                    <i class="fa fa-stack-2x fa-circle-o"></i>
                    <i class="fa fa-stack-1x fa-exclamation"></i>
                  </span>
                </div>
                <div class="row text-center">
                  <div class="h4">
                    Something Went Wrong
                  </div>
                  <div class="h4">
                    Please Retry Your Search
                  </div>
                </div>

                {% endif %}

              </article>
            </div>
            <div data-widget="ShowCitations"></div>
            <div data-widget="ShowReferences"></div>
            <div data-widget="ShowCoreads"></div>
            <div data-widget="ShowSimilar"></div>
            <div data-widget="ShowTableofcontents"></div>
            <div data-widget="ShowGraphics"></div>
            <div data-widget="ShowExportcitation" data-origin="abstract"></div>
            <div data-widget="ShowMetrics" data-allow-redirect="false"></div>
            <div data-widget="MetaTagsWidget"></div>
          </div>
        </div>
      </div>
      {% include 'partials/abstract-resources.html' %}
  </div>
</div>
{% endblock page %}
