{% set view = "abstract" %}
{% extends 'base-form.html' %}
{% block title %}{% if doc %}{{ doc.title|join(';') }}{% endif %}{% endblock title %}

{% block content %}
<div id="abstract-page-layout" class="s-abstract-page-layout">

  <div class="row s-stable-search-bar-height s-results-control-row-container">
    <div class="s-search-bar-full-width-container">
      <div class="hidden-xs col-md-2" style="padding: 2.5rem 0 0 2.5rem;">
        <a href="/search?q={{ form.q.data }}&sort={{ form.sort.data }}&start={{ form.start.data }}&rows={{ form.rows.data }}" class="back-button btn btn-sm btn-default">
          <i class="fa fa-arrow-left"></i> Back to results
        </a>
      </div>
      <div class="col-xs-12 col-md-7" style="padding-top: 2rem;">
        {% include 'partials/search-bar.html' %}
      </div>
    </div>
  </div>

  {% block page %}{% endblock page %}
</div>
{% endblock content %}
