{% extends 'base-form.html' %}
{% block title %}
{% if doc %}
{% for title in doc.title %}{{ title|trim }}{% if not loop.last %};{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
{% macro nav_item(name, link, active, disabled, count) %}
<li class="nav-item">
  {% if disabled %}
  <div class="nav-link disabled" tabindex="-1" aria-disabled="true">{{ name }}</div>
  {% else %}
  <a class="nav-link {% if active %}active{% endif %}" href="{{ link }}">
  {{ name }}
  {% if count and count > 0 %}
  <span class="badge badge-pill badge-primary float-right">{{ count }}</span>
  {% endif %}
  </a>
  {% endif %}
</li>
{% endmacro %}

<h1 class="sr-only">Abstract Page</h1>
<div class="container my-3">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column abstract-nav">

        {{ nav_item(
          'Abstract',
          url_for('abs', identifier=doc.bibcode),
          True,
          not doc
        )}}

        {{ nav_item(
          'Citations',
          url_for('index', q='citations(bibcode:'+doc.bibcode+')'),
          False,
          not (doc and doc.citation_count and doc.citation_count > 0),
          doc.citation_count
        )}}

        {{ nav_item(
          'References',
          url_for('index', q='references(bibcode:'+doc.bibcode+')', sort='first_author asc'),
          False,
          not (doc and doc.reference_count and doc.reference_count > 0),
          doc.reference_count
        )}}

        {{ nav_item(
          'Co-Reads',
          url_for('index', q='trending(bibcode:'+doc.bibcode+')', sort='score desc'),
          False,
          not (doc and doc.read_count and doc.read_count > 0),
          doc.read_count
        )}}

        {{ nav_item(
          'Similar Papers',
          url_for('index', q='similar(bibcode:'+doc.bibcode+')', sort='score desc'),
          False,
          not doc
        )}}

        {{ nav_item(
          'Export Citation',
          url_for('export', identifier=doc.bibcode),
          False,
          not doc
        )}}

      </ul>
    </div>
    {% if doc %}
    <article class="col-md-9">
      <section>
        <h2 class="h3">
            {% for title in doc.title %}
            {{ title|safe }}{% if not loop.last %};{% endif %}
            {% endfor %}
        </h2>
      </section>
      <section>
        <ul class="list-inline">
          {% if doc.author %}
          {% for author in doc.author[:50] %}
          <li class="list-inline-item"><a href="{{ url_for('index', q='author:\"' + author + '\"') }}">{{ author }}</a>{% if not loop.last %};{% endif %}</li>
          {% endfor %}
          {% if doc.author|length > 50 %}
          <li class="list-inline-item">
            <em>and {{ doc.author|length - 50 }} more</em>
          </li>
          {% endif %}
          {% endif %}
        </ul>
      </section>
      <section class="mt-3 abstract-text">
        <h3 class="sr-only">Abstract</h3>
        <p>{{ doc.abstract|safe }}</p>
      </section>
      <section class="mt-3">
        <dl class="row">
          <dt class="col-sm-2">Publication</dt>
          <dd class="col-sm-10">{{ doc.pub }}</dd>
          <dt class="col-sm-2">Pub Date</dt>
          <dd class="col-sm-10">{{ doc.pubdate[:-3] }}</dd>
          <dt class="col-sm-2">Bibcode</dt>
          <dd class="col-sm-10">
            <a href="{{ url_for('abs', identifier=doc.bibcode) }}">{{ doc.bibcode }}</a>
          </dd>
        </dl>
      </section>
      <section class="mt-3">
        <h3 class="h5">Full Text Sources</h3>
        <hr class="hr">
        {% set pub_unlock = ('unlock' if "PUB_OPENACCESS" in doc.property else '') %}
        {% set unlock = ('unlock' if "OPENACCESS" in doc.property else '') %}
        {% set has_pub_pdf = "PUB_PDF" in doc.esources %}
        {% set has_pub_html = "PUB_HTML" in doc.esources %}
        {% set has_eprint_pdf = "EPRINT_PDF" in doc.esources %}
        {% set has_eprint_html = "EPRINT_HTML" in doc.esources %}

        {% if has_pub_pdf and has_pub_html %}
        <div class="row">
          <div class="col-sm-2 mr-auto"><b>Publisher</b></div>
          <div class="col-sm-3">
            {% if has_pub_pdf %}
            <a href="http://ui.adsabs.harvard.edu/link_gateway/{{ doc.bibcode }}/PUB_PDF" target="_blank" rel="noopener noreferrer">
              PDF
            </a>
            {% endif %}
          </div>
          <div class="col-sm-3">
            {% if has_pub_html %}
            <a href="http://ui.adsabs.harvard.edu/link_gateway/{{ doc.bibcode }}/PUB_HTML" target="_blank" rel="noopener noreferrer">
              HTML
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if has_eprint_pdf or has_eprint_html %}
        <div class="row mt-3">
          <div class="col-sm-2 mr-auto"><b>ArXiv</b></div>
          <div class="col-sm-3">
            {% if has_eprint_pdf %}
            <a href="http://ui.adsabs.harvard.edu/link_gateway/{{ doc.bibcode }}/EPRINT_PDF" target="_blank" rel="noopener noreferrer">
              PDF
            </a>
            {% endif %}
          </div>
          <div class="col-sm-3">
            {% if has_eprint_html %}
            <a href="http://ui.adsabs.harvard.edu/link_gateway/{{ doc.bibcode }}/EPRINT_HTML" target="_blank" rel="noopener noreferrer">
              HTML
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

        {% if not (has_pub_pdf or has_pub_html or has_eprint_html or has_eprint_pdf) %}
        <div class="row">
          <div class="col-sm-10">
            No Sources Found
          </div>
        </div>
        {% endif %}

      </section>
    </article>
    {% else %}
    <article class="col-md-9">
      <div class="row text-center">
        <span class="fa-stack fa-lg text-danger">
          <i class="fa fa-stack-2x fa-circle-o"></i>
          <i class="fa fa-stack-1x fa-exclamation"></i>
        </span>
      </div>
      <div class="row justify-center"></div>
    </article>
    {% endif %}
  </div>
</div>
{% endblock %}
