<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - NASA/ADS</title>
    <meta name="description" content="A powerful, streamlined new Astrophysics Data System">
    <link rel="icon" type="image/png" sizes="32x32" href="//ui.adsabs.harvard.edu/styles/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/check-cookie.js"></script>
  </head>

  <body>
    <div id="main" class="d-flex flex-column vh-100">
      {% include "partials/navbar.html" %}
      <main role="main" class="flex-grow-1">{% block content %}{% endblock %}</main>
      {% include "partials/footer.html" %}
    </div>
  </body>

</html>
