<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <title>{% block title %}{% endblock title %}{% if self.title() %} - {% endif %}NASA/ADS</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://ui.adsabs.harvard.edu/styles/img/favicon.ico">
  <link rel="stylesheet" href="https://ui.adsabs.harvard.edu/styles/css/styles.css">
  {% include 'partials/meta.html' %}
  {% if request.endpoint == "abs" %}
    {# This is needed for BBB hydration, otherwise it requests javascript files to /abs/ #}
    <base href="{{ base_url }}">
  {% endif %}
</head>

<body>
  <div id="aria-announcement-container">Now on home page</div>
  <div id="app-container">
    <div id="body-template-container">
      <div class="s-master-page-manager">
        {% include 'partials/navbar.html' %}

        <div id="content-container">
          <div class="dynamic-container s-dynamic-container">
            {% block content %}{% endblock content %}
          </div>
        </div>

        {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
  <script>
    (function() {
      // turn off no-js if we have javascript
      document.documentElement.className = document.documentElement.className.replace("no-js", "js");

      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      (function() {

        // looks for the cookie, and sets true if its 'always'
        const coreCookie = getCookie('core') === 'always';

        // only load bumblebee if we detect the core cookie and we are on abstract page
        if (coreCookie || (!(/^\/abs\//.test(document.location.pathname)) && !coreCookie)) {
          return;
        }

        window.__PRERENDERED = true;

        const addScript = function(args, cb) {
          const script = document.createElement('script');
          Object.keys(args).forEach((key) => {
            script.setAttribute(key, args[key]);
          });
          script.onload = function() { cb && cb(script); };
          document.body.appendChild(script);
        }

        window.require = {
          waitSeconds: 0,
          baseUrl: '{{ base_url }}'
        };
        addScript({
          src: '{{ base_url }}libs/requirejs/require.js'
        }, () => {
          addScript({
            src: '{{ base_url }}config/shim.js'
          });
        });
      })();

    })();
  </script>
</body>
</html>
