{% extends "base-form.html" %}

{% block content %}

<div class="s-starry-background-wrapper">
  <div class="s-logo-header">
    {# add image #}
  </div>
</div>
<div class="container">
  <div class="row" role="search">
    <div class="col-sm-12">
      <form action="{{ base_url }}">
        <div class="form-group">
          <div class="input-group">
            {{ form.q(size=64, autofocus=true, class="form-control q ui-autocomplete-input", autocomplete="off") }}
            <span class="input-group-append">
              <button class="btn btn-primary" type="submit" aria-label="submit" title="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
