{% extends "base-form.html" %}

{% block content %}

{% include 'partials/landing-header.html' %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row mt-3">
        <div class="col-md-6">
          <form action="{{ base_url }}paper-form">
            <div class="form-group">
              <label for="bibstem"><b>Publication(s)</b></label>
              <input type="text" class="form-control" name="bibstem" id="bibstem" aria-describedby="bibstem-description" placeholder="Comma-separated bibstems of journal">
              <small class="form-text">view our <a href="http://adsabs.harvard.edu/abs_doc/journals1.html" target="_blank" rel="noopener noreferrer">full list of bibstems</a></small>
              <small id="bibstem-description" class="form-text text-muted sr-only">Comma-separated bibstems of journal</small>
            </div>

            <div class="form-group">
              <label for="year"><b>Year</b></label>
              <input type="text" class="form-control" name="year" id="year" aria-describedby="year-description" placeholder="">
              <small id="year-description" class="form-text text-muted sr-only">Year</small>
            </div>

            <div class="form-group">
              <label for="volume"><b>Volume</b></label>
              <input type="text" class="form-control" name="volume" id="volume" aria-describedby="volume-description" placeholder="">
              <small id="volume-description" class="form-text text-muted sr-only">Volume</small>
            </div>

            <div class="form-group">
              <label for="page"><b>Page</b></label>
              <input type="text" class="form-control" name="page" id="page" aria-describedby="page-description" placeholder="">
              <small id="page-description" class="form-text text-muted sr-only">Page</small>
            </div>

            <div class="d-flex justify-content-end">
              <button class="btn btn-default mr-1" role="button" type="reset">
                <i class="fa fa-times" aria-hidden="true"></i> Clear
              </button>
              <button class="btn btn-primary" role="button" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <form action="{{ base_url }}paper-form" method="POST">
            <div class="form-group mt-sm-3">
              <label for="bibcodes"><b>List of Bibcodes</b></label>
              <small class="form-text text-muted">Enter Bibcodes (e.g. 1989ApJ...342L..71R), one per line.</small>
              <textarea class="form-control" name="bibcodes" id="bibcodes" rows="12" cols="30"></textarea>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-default mr-1" role="button" type="reset">
                <i class="fa fa-times" aria-hidden="true"></i> Clear
              </button>
              <button class="btn btn-primary" role="button" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include 'partials/landing-footer.html' %}
</div>

{% endblock %}
