<footer class="py-4 bg-dark text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="text-white">© The SAO/NASA Astrophysics Data System</p>
        <p><i class="fa fa-envelope"></i> adshelp[at]cfa.harvard.edu</p>
        <p>The ADS is operated by the Smithsonian Astrophysical Observatory under NASA Cooperative Agreement
          NNX16AC86A</p>
        <p class="d-flex flex-row justify-content-between"> <a class="text-secondary" href="http://www.nasa.gov"
            target="_blank" rel="noopener noreferrer"><img src="/static/images/nasa.svg" alt="nasa logo"
              width="80" aria-hidden="true"><span class="sr-only">NASA</span></a> <a class="text-secondary"
            href="http://www.si.edu" target="_blank" rel="noopener noreferrer"><img
              src="/static/images/smithsonian.svg" alt="smithsonian logo" width="66"
              aria-hidden="true"><span class="sr-only">Smithsonian</span></a> <a class="text-secondary"
            href="https://www.cfa.harvard.edu/" target="_blank" rel="noopener noreferrer"><img
              src="/static/images/cfa.png" alt="center for astrophysics logo" width="120" class="ml-2"
              aria-hidden="true"><span class="sr-only">Center for Astrophysics</span></a></p>
      </div>
      <div class="col">
        <p class="text-white">Resource</p>
        <ul class="pl-0" style="list-style: none;">
          <li><i class="fa fa-question-circle"></i> <a class="text-secondary" href="https://ui.adsabs.harvard.edu/about/" target="_blank"
              rel="noopener noreferrer">About ADS</a></li>
          <li><i class="fa fa-info-circle"></i> <a class="text-secondary" href="https://adsabs.github.io/help/" target="_blank"
              rel="noopener noreferrer">ADS Help</a></li>
          <li><i class="fa fa-bullhorn"></i> <a class="text-secondary" href="https://adsabs.github.io/help/whats_new/" target="_blank"
              rel="noopener noreferrer">What's New</a></li>
          <li><i class="fa fa-users"></i> <a class="text-secondary" href="https://ui.adsabs.harvard.edu/about/careers/" target="_blank"
              rel="noopener noreferrer">Careers</a></li>
        </ul>
      </div>
      <div class="col">
        <p class="text-white">Social</p>
        <ul class="pl-0" style="list-style: none;">
          <li><i class="fa fa-twitter"></i> <a class="text-secondary" href="https://twitter.com/adsabs" target="_blank"
              rel="noopener noreferrer">@adsabs</a></li>
          <li><i class="fa fa-newspaper"></i> <a class="text-secondary" href="https://adsabs.github.io/blog/" target="_blank"
              rel="noopener noreferrer">ADS Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="text-white">Project</p>
        <ul class="pl-0" style="list-style: none;">
          <li> <a class="text-secondary" href="https://adsisdownorjustme.herokuapp.com/" target="_blank"
              rel="noopener noreferrer">Is ADS down? (or is it just me...)</a></li>
          <li> <a class="text-secondary" href="http://www.si.edu" target="_blank"
              rel="noopener noreferrer">Smithsonian Institution</a></li>
          <li> <a class="text-secondary" href="http://www.si.edu/Privacy" target="_blank"
              rel="noopener noreferrer">Smithsonian Privacy Notice</a></li>
          <li> <a class="text-secondary" href="http://www.si.edu/Termsofuse" target="_blank"
              rel="noopener noreferrer">Smithsonian Terms of Use</a></li>
          <li> <a class="text-secondary" href="http://www.cfa.harvard.edu/sao" target="_blank"
              rel="noopener noreferrer">Smithsonian Astrophysical Observatory</a></li>
          <li> <a class="text-secondary" href="http://www.nasa.gov" target="_blank"
              rel="noopener noreferrer">NASA</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
