<hr class="hr mb-0" />
<div class="row justify-content-md-center landing-bottom-links">
  <a href="{{ url_for('classic_form') }}" class="col-md-3 d-block p-4 text-center">
      <i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
      <p>Use a classic ADS-style form</p>
    </a>
  <a href="https://adsabs.github.io/help/search/search-syntax" target="_blank" rel="noopener noreferrer" class="col-md-3 d-block p-4 text-center">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
      <p>Learn more about searching the ADS</p>
    </a>
  <a href="https://github.com/adsabs/adsabs-dev-api" target="_blank" rel="noopener noreferrer" class="col-md-3 d-block p-4 text-center">
      <i class="fa fa-code fa-2x" aria-hidden="true"></i>
      <p>Access ADS data with our API</p>
    </a>
</div>
