<div class="s-starry-background-wrapper">
  <div class="s-logo-header d-flex justify-content-center">
    <img src="/static/images/logo.svg" alt="ads logo" aria-hidden="true" class="d-none d-sm-block">
    <span class="ml-sm-2">
      <b>astrophysics</b> data system
    </span>
  </div>
  <ul class="nav nav-tabs navigation-tabs justify-content-center pt-3">
    <li class="nav-item">
      <a href="{{ url_for('classic_form') }}" class="nav-link {{ 'active' if request.endpoint == 'classic_form' }}">Classic Form</a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('index') }}" class="nav-link {{ 'active' if request.endpoint == 'index' }}">Modern Form</a>
    </li>
    <li class="nav-item">
      <a href="{{ url_for('paper_form') }}" class="nav-link {{ 'active' if request.endpoint == 'paper_form' }}">Paper Form</a>
    </li>
  </ul>
</div>
