<div id="navbar-container">
  <div data-widget="NavbarWidget">
    <nav class="navbar fluid navbar-inverse">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand s-navbar-brand" href="{{ base_url }}"><img class="s-ads-icon" src="{{ base_url }}styles/img/transparent_logo.svg" alt="ads icon">
          <h1> <b>ads</b></h1>
        </a>
      </div>

      <div class="nav navbar-nav navbar-form navbar-right" style="margin-right: 1rem;">
          {% if request.endpoint == "classic_form" %}
          <a href="{{ url_for('core_never', url='classic-form') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% elif request.endpoint == "paper_form" %}
          <a href="{{ url_for('core_never', url='paper-form') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% elif request.endpoint == "index" %}
          <a href="{{ url_for('core_never') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% elif request.endpoint == "abs" and doc %}
              {% set path = request.path.split('/') %}
              {% if path[-1] == 'graphics'  %}
              <a href="{{ url_for('core_never', url='abs/'+doc.bibcode+'/graphics') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
                <i class="fa fa-comment about-page-icon"></i> Full ADS
              </a>
              {% elif path[-1] == 'metrics'  %}
              <a href="{{ url_for('core_never', url='abs/'+doc.bibcode+'/metrics') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
                <i class="fa fa-comment about-page-icon"></i> Full ADS
              </a>
              {% elif path[-1] == 'exportcitation'  %}
              <a href="{{ url_for('core_never', url='abs/'+doc.bibcode+'/exportcitation') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
                <i class="fa fa-comment about-page-icon"></i> Full ADS
              </a>
              {% else %}
              <a href="{{ url_for('core_never', url='abs/'+doc.bibcode+'/abstract') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
                <i class="fa fa-comment about-page-icon"></i> Full ADS
              </a>
              {% endif %}
          {% elif request.endpoint == "public_libraries" %}
          {% set path = request.path.split('/') %}
          <a href="{{ url_for('core_never', url='public-libraries/'+path[-1]) }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% elif request.endpoint == "search" %}
          <a href="{{ url_for('core_never', url='search/', q=form.q.data, sort=form.sort.data, start=form.start.data, rows=form.rows.data) }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% else %}
          <a href="{{ url_for('core_never') }}" style="color: #FFFFFF" class="btn btn-primary-faded feedback-button">
            <i class="fa fa-comment about-page-icon"></i> Full ADS
          </a>
          {% endif %}
      </div>
    </nav>
  </div>
</div>
