<div class="row mt-sm-5 justify-content-center" role="search">
  <div class="col-sm-10">
    <form action="{{ base_url }}">
      <div class="form-group">
        <div class="input-group">
          {{ form.q(size=64, autofocus=true, class="form-control q ui-autocomplete-input", autocomplete="off") }}
          {{ form.sort(hidden=true) }}
          {{ form.rows(hidden=true) }}
          <span class="input-group-append">
            <button class="btn btn-primary" type="submit" aria-label="submit" title="submit">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </form>

    {% if results %}
    <div class="row">
      <div class="col-md-10">
        <span class="text-muted">Your search returned</span>
        <b>{{ "{:,.0f}".format(results.numFound) }}</b>
        <span class="text-muted">results </span>
        {% if stats and stats.stats_fields.citation_count %}
        with <b>{{ "{:,.0f}".format(stats.stats_fields.citation_count.sum) }}</b><span class="text-muted"> total citations</span>
        {% endif %}
        {% if stats and stats.stats_fields.citation_count_norm %}
        with <b>{{ "{:,.0f}".format(stats.stats_fields.citation_count_norm.sum) }}</b><span class="text-muted"> total normalized citations</span>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
